    body {
    height: 3000px;
}

header {
    width: 100%;
    height: 800px;
    background-image: url(./img/pexels-cup-of-couple-6633791.jpg);
    animation-name: anim;
    animation-duration: 10s;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes anim {
    25% {
        background-image: url(./img/pexels-freestocksorg-291762.jpg);
    }
    50% {
        background-image: url(./img/pexels-kindel-media-6995253.jpg);
    }
    75% {
        background-image: url(./img/pexels-photomix-company-230544.jpg)
    }
    100% {
        background-image: url(./img/pexels-cottonbro-5076525.jpg);
    }
}


/* end header */


/* start navbar */

.navbar img {
    width: 200px;
}

.neavbar a {
    color: white!important;
    font-size: 20px;
    font-weight: bold;
    transition: all 5s;
}

.navbar ul a:hover {
    background-color: yellowgreen;
    border-radius: 20px;
}


/* end navbar */

.hr {
    border: 1px solid black;
    height: 2px;
    background-color: gray;
}


/* start card */

.card {
    margin: 26px;
    font-size: 30px;
    font-family: initial;
}

.card-body h1 {
    text-align: center;
}

.card-body p {
    text-align: center;
}


/* end card*/


/* start profile */

#profile {
    padding: 40px 0px;
    margin: 40px 0px;
    background-color: #ddd;
}

#profile h1 {
    text-align: center;
    color: gray;
}


/* end profile */


/* start foot */

.foot {
    width: 100%;
    margin-top: 40px;
    list-style: type;
    text-align: center;
}

.foot h4 {
    color: black;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    margin: 20px 20px;
    padding: 20px 20px;
}

.foot li {
    width: 100%;
    display: flex;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
}

.breadcrumb-item+.breadcrumb-item::before {
    list-style-type: none;
}

.foot li a {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 40px;
}

.foot {
    display: flex;
    justify-content: space-around;
}

@media(max-width:920px) {
    .foot {
        width: 40%;
    }
}

@media(max-width: 750px) {
    .foot {
        width: 50%;
    }
}

@media(max-width: 600px) {
    .foot {
        width: 100%;
    }